{% extends 'main.html' %}
{% load static %}

{% block content %}

<body>
  <!-- <style>
@page { margin-left: 0.7in; margin-right: 0.7in; margin-top: 0.75in; margin-bottom: 0.75in; }
body { margin-left: 0.7in; margin-right: 0.7in; margin-top: 0.75in; margin-bottom: 0.75in; }
</style> -->
  <div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
      <table border="0" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0 gridlines">
        <col class="col0">
        <col class="col1">
        <col class="col2">
        <col class="col3">
        <tbody>
          <tr class="row0">
            <td class="column0 style1 null"></td>
            <td class="column1 style33 s style34" colspan="2">Key Performance Indicator </td>

          </tr>
          <tr class="row1">
            <td class="column0 style1 null"></td>
            <td class="column1 style3 s">Name : </td>
            <td class="column2 style4 s">Designation : </td>

          </tr>
          <tr class="row2">
            <td class="column0 style5 null"></td>
            <td class="column1 style6 s">OBJECTIVES SET FOR YEAR 2022<br />
              <span style="font-weight:bold; color:#000000; font-family:'Times New Roman'; font-size:16pt">Please write
              </span><span
                style="font-weight:bold; text-decoration:underline; color:#000000; font-family:'Times New Roman'; font-size:16pt">SMART</span><span
                style="font-weight:bold; color:#000000; font-family:'Times New Roman'; font-size:16pt"> Objective
                statements : <br />
              </span><span
                style="font-weight:bold; text-decoration:underline; color:#000000; font-family:'Times New Roman'; font-size:16pt">S</span><span
                style="font-weight:bold; color:#000000; font-family:'Times New Roman'; font-size:16pt">treching ,
              </span><span
                style="font-weight:bold; text-decoration:underline; color:#000000; font-family:'Times New Roman'; font-size:16pt">M</span><span
                style="font-weight:bold; color:#000000; font-family:'Times New Roman'; font-size:16pt">easurable,
              </span><span
                style="font-weight:bold; text-decoration:underline; color:#000000; font-family:'Times New Roman'; font-size:16pt">A</span><span
                style="font-weight:bold; color:#000000; font-family:'Times New Roman'; font-size:16pt">greed,
              </span><span
                style="font-weight:bold; text-decoration:underline; color:#000000; font-family:'Times New Roman'; font-size:16pt">R</span><span
                style="font-weight:bold; color:#000000; font-family:'Times New Roman'; font-size:16pt">ealistic,
              </span><span
                style="font-weight:bold; text-decoration:underline; color:#000000; font-family:'Times New Roman'; font-size:16pt">T</span><span
                style="font-weight:bold; color:#000000; font-family:'Times New Roman'; font-size:16pt">ime-Bound <br />
                Mark PRIMARY objectives, to which a higher weighting will be given , with a * % . </span><span
                style="font-weight:bold; text-decoration:underline; color:#000000; font-family:'Times New Roman'; font-size:16pt"><br />
              </span>
            </td>
            <td class="column2 style7 s">REVIEW OF RESULTS ACHIEVED <br />
              Ratings : <br />
              <span style="font-weight:bold; color:#000000; font-family:'Times New Roman'; font-size:16pt">1. Exceeded
                <br />
                2. Achieved all aspects <br />
                3. Achieved the essnential requirements <br />
                4. Did not achieve </span>
            </td>

          </tr>
          <tr class="row3">
            <td class="column0 style5 null"></td>
            <td class="column1 style9 s">1. PRODUCTION(Product/ Project) <span
                style="color:#000000; font-family:'Times New Roman'; font-size:12pt">(Cost, revenue, quality,
                quantity)</span><span style="color:#000000; font-family:'Times New Roman'; font-size:16pt"> </span><span
                style="font-weight:bold; color:#000000; font-family:'Times New Roman'; font-size:16pt">: <br />
                <br />
                <br />
              </span><span
                style="font-weight:bold; color:#000000; font-family:'Times New Roman'; font-size:16pt">Weightage :
              </span></td>
            <td class="column2 style10 s">Rating : </td>

          </tr>
          <tr class="row4">
            <td class="column0 style5 null"></td>
            <td class="column1 style11 s">2. SUPPORT<span
                style="color:#000000; font-family:'Times New Roman'; font-size:12pt">(Service, problem resolution,
                customer perception, business risk &amp; reputation )</span><span
                style="font-weight:bold; color:#000000; font-family:'Times New Roman'; font-size:16pt">:<br />
                <br />
                <br />
                <br />
                Weightage : </span></td>
            <td class="column2 style12 s">Rating : </td>

          </tr>
          <tr class="row5">
            <td class="column0 style5 null"></td>
            <td class="column1 style11 s">3. INNOVATION <span
                style="color:#000000; font-family:'Times New Roman'; font-size:12pt">(New ideas and
                implementation</span><span style="color:#000000; font-family:'Times New Roman'; font-size:16pt">):
                <br />
                <br />
              </span><span style="font-weight:bold; color:#000000; font-family:'Times New Roman'; font-size:16pt"><br />
                <br />
                Weightage :</span></td>
            <td class="column2 style12 s">Rating : </td>

          </tr>
          <tr class="row6">
            <td class="column0 style5 null"></td>
            <td class="column1 style11 s">4. PEOPLE <span
                style="color:#000000; font-family:'Times New Roman'; font-size:12pt">(Leadership , management,
                training): <br />
                <br />
                <br />
                <br />
                <br />
                <br />
              </span><span
                style="font-weight:bold; color:#000000; font-family:'Times New Roman'; font-size:16pt">Weightage :
              </span></td>
            <td class="column2 style12 s">Rating : </td>

          </tr>
          <tr class="row7">
            <td class="column0 style5 null"></td>
            <td class="column1 style11 s">5 . Other <span
                style="color:#000000; font-family:'Times New Roman'; font-size:16pt">( </span><span
                style="color:#000000; font-family:'Times New Roman'; font-size:12pt">Learning &amp; development
                )</span><span style="color:#000000; font-family:'Times New Roman'; font-size:16pt"> <br />
              </span><span style="font-weight:bold; color:#000000; font-family:'Times New Roman'; font-size:16pt"><br />
                <br />
                <br />
                <br />
                Weightage :</span></td>
            <td class="column2 style12 s">&nbsp;Rating : </td>

          </tr>
          <tr class="row8">
            <td class="column0 style13 null"></td>
            <td class="column1 style14 null"></td>
            <td class="column2 style15 null"></td>

          </tr>
          <tr class="row9">
            <td class="column0 style5 null"></td>
            <td class="column1 style17 s">VALUES RATINGS </td>
            <td class="column2 style17 s"><span
                style="font-weight:bold; text-decoration:underline; color:#000000; font-family:'Times New Roman'; font-size:16pt">REVIEW
                OF RESULTS ACHIEVED</span><span
                style="font-weight:bold; color:#000000; font-family:'Times New Roman'; font-size:16pt"> <br />
                A. Role Model <br />
                B.Very Good <br />
                C. Good<br />
                D. Improvement Required <br />
                E. Unacceptable </span></td>

          </tr>
          <tr class="row10">
            <td class="column0 style13 null"></td>
            <td class="column1 style31 s style32" colspan="2">1. COURAGEOUS <span
                style="color:#000000; font-family:'Times New Roman'; font-size:16pt">(</span><span
                style="color:#000000; font-family:'Times New Roman'; font-size:12pt">Moral Strength : faith and belief
                in oneself, self confidence </span><span
                style="color:#000000; font-family:'Times New Roman'; font-size:16pt">) : <br />
                <br />
                <br />
              </span><span style="font-weight:bold; color:#000000; font-family:'Times New Roman'; font-size:16pt"><br />
                Rating :</span><span style="color:#000000; font-family:'Times New Roman'; font-size:16pt"> </span></td>

          </tr>
          <tr class="row11">
            <td class="column0 style13 null"></td>
            <td class="column1 style31 s style32" colspan="2">2. TeamWork <span
                style="color:#000000; font-family:'Times New Roman'; font-size:16pt">(</span><span
                style="color:#000000; font-family:'Times New Roman'; font-size:12pt">Team player, not exclusive: Enjoy
                sharing and collaborating with relevent parties</span><span
                style="color:#000000; font-family:'Times New Roman'; font-size:16pt">): <br />
                <br />
                <br />
              </span><span
                style="font-weight:bold; color:#000000; font-family:'Times New Roman'; font-size:16pt">Rating:
              </span><span style="color:#000000; font-family:'Times New Roman'; font-size:16pt"><br />
                &nbsp;&nbsp;&nbsp;</span></td>

          </tr>
          <tr class="row12">
            <td class="column0 style13 null"></td>
            <td class="column1 style31 s style32" colspan="2">3.RESPONSIVE <span
                style="color:#000000; font-family:'Times New Roman'; font-size:16pt">(Attentive, Interactive : consider
                everyone inside &amp; outside as customer ; stakeholder) : <br />
                <br />
                <br />
              </span><span
                style="font-weight:bold; color:#000000; font-family:'Times New Roman'; font-size:16pt">Rating:
              </span><span style="color:#000000; font-family:'Times New Roman'; font-size:16pt"><br />
              </span></td>

          </tr>
          <tr class="row13">
            <td class="column0 style13 null"></td>
            <td class="column1 style31 s style32" colspan="2">4. CREATIVE <span
                style="color:#000000; font-family:'Times New Roman'; font-size:16pt">(</span><span
                style="font-weight:bold; color:#000000; font-family:'Times New Roman'; font-size:16pt"> </span><span
                style="color:#000000; font-family:'Times New Roman'; font-size:16pt">Business minds: Translates
                imagination into business): <br />
                <br />
                <br />
              </span><span
                style="font-weight:bold; color:#000000; font-family:'Times New Roman'; font-size:16pt">Rating: </span>
            </td>

          </tr>
          <tr class="row14">
            <td class="column0 style13 null"></td>
            <td class="column1 style31 s style32" colspan="2">5.TRUSTWORTY <span
                style="color:#000000; font-family:'Times New Roman'; font-size:16pt">(</span><span
                style="color:#000000; font-family:'Times New Roman'; font-size:12pt">Deserving of trust , confidence ;
                reliable, dependable</span><span style="color:#000000; font-family:'Times New Roman'; font-size:16pt">):
                <br />
                <br />
                <br />
              </span><span style="font-weight:bold; color:#000000; font-family:'Times New Roman'; font-size:16pt">Rating
                : </span></td>

          </tr>
          <tr class="row15">
            <td class="column0 style5 null"></td>
            <td class="column1 style26 s style27" colspan="2">SIGNATURES TO OBJECTIVES <br />
              <br />
              __________________ ________________________ ______________________<br />
              Individual Manager Function or SBU Head <br />
            </td>

          </tr>
          <tr class="row16">
            <td class="column0 style13 null"></td>
            <td class="column1 style14 null"></td>
            <td class="column2 style15 null"></td>

          </tr>
          <tr class="row17">
            <td class="column0 style5 null"></td>
            <td class="column1 style28 s style29" colspan="2">OTHER SUBSTANTIAL ACHIEVEMENTS : </td>

          </tr>
          <tr class="row18">
            <td class="column0 style5 null"></td>
            <td class="column1 style28 s style29" colspan="2">SIGNIFICANT ISSUES : </td>

          </tr>
          <tr class="row19">
            <td class="column0 style18 null"></td>
            <td class="column1 style28 s style29" colspan="2">INDIVIDUAL'S COMMENTS : </td>

          </tr>
          <tr class="row20">
            <td class="column0 style5 null"></td>
            <td class="column1 style28 s style29" colspan="2">MANAGERS COMMENTS : </td>

          </tr>
          <tr class="row21">
            <td class="column0 style5 null"></td>
            <td class="column1 style28 s style29" colspan="2">SENIOR MANAGER / FUNCTIONAL HEAD'S COMMENTS : </td>

          </tr>
          <tr class="row22">
            <td class="column0 style5 null"></td>
            <td class="column1 style24 s style30" colspan="2">Director and Chief Operating Officer's COMMENTS : </td>

          </tr>
          <tr class="row23">
            <td class="column0 style13 null"></td>
            <td class="column1 style22 s style23" colspan="2">OVERALL PERFORMANCE BASED ON ALL OF THE ABOVE RATING :
              _______________ </td>

          </tr>
          <tr class="row24">
            <td class="column0 style20 null"></td>
            <td class="column1 style24 s style25" colspan="2">SIGNATURES TO ASSESSMENT : <br />
              <br />
              <br />
              <br />
              _______________________ _______________________________ -----------------------------------<br />
              Individual Manager Senior Manager/Functional Head
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {% endblock %}