{% extends 'main.html' %}
{% load static %}
{% block content %}
    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span> Sub SBU <span
                    style="float: right"><a href="{% url 'configuration:SubSBUCreateView' %}"
                                            class="btn btn-secondary" role="button">Add Sub SBU</a></span>
            </h4>
            {% for msg in messages %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <!-- Responsive Table -->
            <div class="card">
                <h5 class="card-header">Sub SBU</h5>
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                        <tr class="text-nowrap">
                            {#                            <th>#</th>#}
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for data in subsbus %}
                            <tr>
                                <th scope="row">{{ data.name }} </th>
                                <td>

                                    <a href="{% url 'configuration:SubSBUUpdateView' data.id %}">
                                        <button class="btn btn-success btn-sm rounded" type="button"
                                                data-toggle="tooltip"
                                                data-placement="top" title="Edit">Edit
                                        </button>
                                    </a>
                                    &nbsp
                                    <a href="{% url 'configuration:SubSBUDeleteView' data.id %}">
                                        <button class="btn btn-danger btn-sm rounded" type="button"
                                                data-toggle="tooltip"
                                                data-placement="top" title="Delete">Delete
                                        </button>
                                    </a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!--/ Responsive Table -->
        </div>
        <!-- / Content -->
{% endblock %}